---
layout: layouts/course.njk
title: CPNT 201 - Tools and things
description: All the things you have to do before you can start coding.
date: 2021-09-14
---
Git 'n shit

{% set daylist = collections.cpnt201 %}
{% include "daylist.njk" %}