---
layout: layouts/course.njk
title: CPNT 200 - Content Management Systems
description: What do Wordpress, Shopify and Eleventy have in common?
date: 2021-11-16
---

Eleventy!

{% set daylist = collections.cpnt200 %}
{% include "daylist.njk" %}