---
layout: layouts/course.njk
title: CPNT 262 - Javascript
description: Client and server side programming with Javascript
date: 2021-10-06
---
Javascript all day long.

{% set daylist = collections.cpnt262 %}
{% include "daylist.njk" %}