---
layout: layouts/course.njk
title: DSGN 270 - Web design fundies
description: User experience, accessibility, mobile
date: 2021-09-08
---
Colour

{% set daylist = collections.dsgn270 %}
{% include "daylist.njk" %}