{% set week = 1 %}
{% set prevDay = 0 %}
<h3>Week {{ week }} </h3>
<ul>
  {% for lesson in lessonlist %}
    {% if lesson.date.getDay() < prevDay %}
      {% set week = week + 1 %}
      </ul>
    <h3>Week {{ week }}</h3>
      <ul>
    {% endif %}
    <li><h4>{{ lesson.date | shortDate }}: <a href="{{ lesson.url | url }}">{{ lesson.data.title }}</a></h4></li>
    {% set prevDay = lesson.date.getDay() %}
  {% endfor %}
  </ul>
</ul>