<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
</head>
<body>
  <header class="page-header">
    <a href="/winter-2021"><img class="sait-logo" src={{ "/images/sait-logo.png" | url }} alt="SAIT Logo"></a>
    <div>
      <p class="site-name">SAIT WBDV</p>
      <p class="tagline">Web Developer Fast Track - Winter 2021</p>
    </div>
    <nav>
      <ul>
        <li><a href="{{ "/" | url }}">Home</a></li>
        <li><a href="{{ "/courses" | url }}">Courses</a></li>
        <li><a href="{{ "/schedule" | url }}">Schedule</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    &copy; 2021 Tony Grimes. MIT License.
  </footer>  
</body>
</html>
