---
layout: layouts/base.njk
---
{% if siblings.prev.url or siblings.next.url %}
<nav class="secondary">
    <ul>
        <li>
            {% if siblings.prev.url and siblings.prev.data.released %}
            <a href="{{ siblings.prev.url | url }}" title="{{ siblings.prev.data.title }}">Previous</a>
            {% else %}
            <span>Previous</span>
            {% endif %}
        </li>
        <li>
            {% if siblings.next.url and siblings.next.data.released %}
            <a href="{{ siblings.next.url | url }}" title="{{ siblings.next.data.title }}">Next</a>
            {% else %}
            <span>Next</span>
            {% endif %}
        </li>
    </ul>
</nav>
{% endif %}

<article class="post">
  <time>{{ page.date | longDate }}</time>
  <h2>{{ title }}</h2>
  {# <p>{{ description}}</p> #}
  {% if released %}
        {{ content | safe }}
  {% else %}
        <h3>Sorry, this lesson hasn't been released.</h3>  
  {% endif %}
</article>

{% if siblings.prev.url or siblings.next.url %}
<nav class="secondary">
    <ul>
        <li>
            {% if siblings.prev.url and siblings.prev.data.released %}
            <a href="{{ siblings.prev.url | url }}" title="{{ siblings.prev.data.title }}">Previous</a>
            {% else %}
            <span>Previous</span>
            {% endif %}
        </li>
        <li>
            {% if siblings.next.url and siblings.next.data.released %}
            <a href="{{ siblings.next.url | url }}" title="{{ siblings.next.data.title }}">Next</a>
            {% else %}
            <span>Next</span>
            {% endif %}
        </li>
    </ul>
</nav>
{% endif %}